.card-container {
  min-width: 200px;
  max-width: 200px;
  cursor: pointer;
}

.Polaris-Thumbnail--sizeLarge {
  width: 100%;
  height: auto;
}

.channel-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  font-weight: 700;
  overflow: hidden;
}

.channel-artists {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  overflow: hidden;
}

.channel-id {
  color: #707070;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  overflow: hidden;
}
